{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "no-param-reassign": 0
  },
  "settings": {
    "import/resolve": {
      "moduleDirectory": [
        "node_modules"
      ]
    }
  }
}
